<!--The content below is only a placeholder and can be replaced.-->

<!--<button type="button" class="btn btn-primary">Family</button>
<button type="button" class="btn btn-secondary">Task</button>
<button type="button" class="btn btn-success">Local Service 1</button>
<button type="button" class="btn btn-danger">Local Service 2</button>
<button type="button" class="btn btn-warning">Remote Users</button>
<button type="button" class="btn btn-info">Model Form</button>
<button type="button" class="btn btn-light">Template Form</button>
<button type="button" class="btn btn-dark">Animate</button>

<button type="button" class="btn btn-link">Link</button>-->


<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<li class="nav-item active">
        <a class="nav-link" routerLink ="/family"><span class="sr-only">(current)</span></a>
        <button type="button" class="btn btn-primary">Family</button>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink ="/task"></a>
        <button type="button" class="btn btn-secondary">Task</button>
      </li> 
      <li class="nav-item">
  <a class="nav-link" routerLink ="/family"><span class="sr-only">(current)</span></a>
  <button type="button" class="btn btn-success">Local Service 1</button>
      </li>
      <li class="nav-item">
       <a class="nav-link" routerLink ="/family"><span class="sr-only">(current)</span></a>
       <button type="button" class="btn btn-danger">Local Service 2</button>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink ="/task"></a>
        <button type="button" class="btn btn-warning">Remote Users</button>
      </li> 
      <li class="nav-item">
       <a class="nav-link" routerLink ="/family"><span class="sr-only">(current)</span></a>
       <button type="button" class="btn btn-info">Model Form</button>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink ="/task"></a>
        <button type="button" class="btn btn-light">Template Form</button>
      </li> 
       <li class="nav-item">
        <a class="nav-link" routerLink ="/task"></a>
        <button type="button" class="btn btn-dark">Animate</button>
      </li> 
<br>
<br>


 <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
          
        </li> 
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav>
<div class="container">
    <div class="row">
    	<div class="col-md-12">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail" >
					<h4 class="text-center"><span class="label label-info">Samsung</span></h4>
					<img src="/assets/samsung.jpg" class="img-responsive">
					<div class="caption">
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<h3>Galaxy S5</h3>
							</div>
							<div class="col-md-6 col-xs-6 price">
								<h3>
								<label>$649.99</label></h3>
							</div>
						</div>
						<p>32GB, 2GB Ram, 1080HD, 5.1 inches, Android</p>
						<div class="row">
							<div class="col-md-6">
								<a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a> 
							</div>
							<div class="col-md-6">
								<a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></div>
						</div>

						<p> </p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail" >
					<h4 class="text-center"><span class="label label-info">Apple</span></h4>
					<img src="/assets/715OfKdj9UL._SY550_.jpg" class="img-responsive">
					<div class="caption">
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<h3>iPhone 6</h3>
							</div>
							<div class="col-md-6 col-xs-6 price">
								<h3>
								<label>$749.99</label></h3>
							</div>
						</div>
						<p>32GB, 64Bit, 1080HD, 4.7 inches, iOS 8</p>
						<div class="row">
							<div class="col-md-6">
								<a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a> 
							</div>
							<div class="col-md-6">
								<a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></div>
						</div>

						<p> </p>
					</div>
				</div>
			</div>
            <div class="col-sm-6 col-md-4">
				<div class="thumbnail" >
					<h4 class="text-center"><span class="label label-info">Nokia</span></h4>
					<img src="/assets/microsoft-lumia-53.jpg" class="img-responsive">
					<div class="caption">
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<h3>Lumia 1520</h3>
							</div>
							<div class="col-md-6 col-xs-6 price">
								<h3>
								<label>$749.00</label></h3>
							</div>
						</div>
						<p>32GB, 4GB Ram, 1080HD, 6.3 inches, WP 8</p>
						<div class="row">
							<div class="col-md-6">
								<a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a> 
							</div>
							<div class="col-md-6">
								<a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></div>
						</div>

						<p> </p>
					</div>
				</div>
			</div>
            
        </div> 

<a routerLink="/family">Family</a> &nbsp;
<a routerLink="/task">Task</a> &nbsp;
<a routerLink="/consumeLocal1">Local Service 1</a> &nbsp;
<a routerLink="/consumeLocal2">Local Service 2</a> &nbsp;
<a routerLink="/remoteData">Remote Users</a> &nbsp;
<a routerLink="/templateform">Template Form</a> &nbsp;
<a routerLink="/modelform">Model Form</a> &nbsp;
<a routerLink="/animate">Animate</a>    

<br>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/assets/Data-Geek.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/new.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/bikers.jpg" alt="Third slide">
    </div>
  </div>

<router-outlet></router-outlet>